[2014-09-16 15:58] bufke opened #1 "Periodic tasks"
Have you given any thought to scheduled tasks? Right now it does

[code]

I'm willing to help develop, test, and/or fund development. It seems like we need the scheduled tasks to do something like for tenant in all_tenants.

[2014-10-03 13:40] owais opened #2 "Schema name cleanup after execution"
How do we ensure that the connection we use does not get re-used by another task in the same worker. I've no idea how celery works internally and if all tasks in a worker share some state but I'm concerned about this. Lets say TaskA sets schema_name to 'github', is there any chance that TaskB running after TaskA and in the same worker as TaskA has schema_name set to github already because of share

[2014-11-20 22:51] #2 closed, assigned to maciej-gol

[2014-11-21 08:09] #1 closed, assigned to maciej-gol

[2014-11-25 00:29] quietlyconfident opened #3 "Please update PyPi (if the current master is working)"
Thank you for this great package.

It looks like PyPi is ~ 3 months old; but there were commits from just a few days ago.  If it is working could you please push to PyPi so we can install from there?

[2014-11-25 20:22] #3 closed, assigned to nobody

[2015-01-01 18:55] bufke opened #4 "Python 3 support"
It can't be installed due to the setup.py not being python 3 compatible. Haven't looked outside of installing it yet. Pull request on the way.

[2015-01-01 19:20] maciej-gol commented on #4
Fixed in 63baec16a606cf9da042d17f8393e955e255fa57.

[2015-01-01 19:20] #4 closed

[2015-02-12 06:07] m4l opened #6 "Tasks decorated with worker_ready.connect don't get set to tenant schema"
I have a task like this, which I need to run right after the celery worker starts up:

	class OnWorkerReady(TenantTask):
		@worker_ready.connect
		def run(*args, **kwargs):
			Model.objects.all()  # Fails: relation "app_model" does not exist

The db connection schema does not get set to the tenant and db lookups fail, once I remove the decorator and I trigger the task manually it works.

[2015-02-12 10:01] maciej-gol commented on #6
Abstracting from whether the schema insertion works or not, are you sure the worker sets the proper schema before dispatching the `worker_ready` signal?

[2015-03-30 18:42] #6 closed

[2015-11-24 03:09] andrewfam opened #7 "@task() must be a callable"
I'm getting this trying to run celery -A snagfin worker -l info

 File "/Users/andrewfam/python/snagfin/bookings/tasks.py", line 9, in <module>
  File "/Users/andrewfam/.virtualenvs/snagfin/lib/python2.7/site-packages/celery/app/base.py", line 250, in task
    raise TypeError('argument 1 to @task() must be a callable')
TypeError: argument 1 to @task() must be a callable

tasks.py
from snagfin.cele

[2015-11-24 03:16] andrewfam opened #8 "@task() must be a callable"
I'm getting this trying to run celery -A snagfin worker -l info

 File "/Users/andrewfam/python/snagfin/bookings/tasks.py", line 9, in <module>
  File "/Users/andrewfam/.virtualenvs/snagfin/lib/python2.7/site-packages/celery/app/base.py", line 250, in task
    raise TypeError('argument 1 to @task() must be a callable')
TypeError: argument 1 to @task() must be a callable

tasks.py
from snagfin.cele

[2015-11-24 08:50] andrewfam commented on #8
Not too sure what i did. but it works now

[2015-11-24 08:50] #8 closed

[2015-11-24 16:06] #7 closed

[2015-11-24 16:06] maciej-gol commented on #7
Duplicate of #8

[2016-04-28 06:52] hpatel1 opened #9 "Celery beat command"
Given command will run for specified schema.
But I want to run command which can query for periodic tasks to each tenant.

[2016-04-28 08:40] maciej-gol commented on #9
You can simply write a `for_each_tenant` task that will take a task name and args, and iterate over all tenants in your app and task of given name with given args.

Something along these lines:

[code]

[2016-05-07 19:49] #9 closed

[2017-03-06 19:11] perrohunter opened #10 "Celery 4.0"
Are there any plans to support celery 4.0?

[2017-03-06 19:13] maciej-gol commented on #10
I'll check the compatibility with the newest tenant-schemas and celery
within a week.

6 mar 2017 20:11 "perrohunter" <notifications@github.com> napisał(a):

[2017-03-06 19:28] perrohunter commented on #10
thanks for the prompt reply

I found a workaround to get this library to work with Celery 4.0

Turns out Celery 4.0 checks the `kwargs` being passed and throws an error if there's any it doesn't like, by changing the task notation to `@app.task(typing=False)` everything seems to work again.

Seems like the fix would be to get celery's task to accept this unknow parameter

[code]

[2017-03-06 19:32] perrohunter commented on #10
The original error I was getting was

[code]

[2017-03-06 19:33] maciej-gol commented on #10
Either this, or `@task` could actually return a function that wraps the
original one and accepts the kwarg. Will look into it.

6 mar 2017 20:28 "perrohunter" <notifications@github.com> napisał(a):

[2017-03-11 14:29] maciej-gol commented on #10
@perrohunter could you check whether the `[celery_4](https://github.com/maciej-gol/tenant-schemas-celery/tree/celery_4)` branch works for you?

[2017-04-04 07:54] alex-bes commented on #10
Hey guys! any luck with testing this? @perrohunter @maciej-gol

[2017-04-04 08:53] maciej-gol commented on #10
Sorry, will merge it today.

4 kwi 2017 09:54 "Alexander Beskrovny" <notifications@github.com>
napisał(a):

[2017-04-04 21:25] alex-bes commented on #10
@maciej-gol thanks!

[2017-04-04 21:43] maciej-gol commented on #10
@alex-bes the `0.1.6` version should be in the index now.

[2017-04-05 12:14] #10 closed

[2017-04-06 15:36] faxioman opened #12 "Connection schema name is always public in task"
Hi.
I have configured my celery.py script using this syntax:

[code]

But when a task is executed from a tenant, inside the task the tenant is alway public... Am I missing something?

tenant-schemas-celery==0.1.6
celery[redis]==4.0.2
django==1.9.7
django-tenant-schemas==1.6.2

Thanks

[2017-04-06 19:55] alexjillard commented on #12
@faxioman I was looking into this and it seems like in some circumstances the schema name is stored in the task.request rather than task.request.headers. I made a small update that's fixed the issue for me. I'm still in the process of testing it though, but feel free to check it out and see if it works on your end.

Just a small alteration to the logic that tries to grab the schema name from the t

[2017-04-06 20:06] maciej-gol commented on #12
@alexjillard do you know when this happens?

[2017-04-06 20:14] alexjillard commented on #12
@maciej-gol We're able to cause this using chords.

We're using celery 4.0.2 and django 1.8.18

[code]

[2017-04-06 20:40] maciej-gol commented on #12
And the wrong schema name is in the original task, or in the callback?

[2017-04-06 20:43] alexjillard commented on #12
The schema name was not preset in `task.request.headers` in the tasks. The chord callback never fired because all the tasks failed.

[2017-04-11 12:25] maciej-gol commented on #12
Could you give more context? The following works fine (I thought it could be something with chords or groups):

[code]

[2017-04-19 18:07] oplahcinski commented on #12
I just want to add that I also experienced this issue.

I have some production servers running tenant-schemas-celery==0.1.5 and they worked fine, when I updated to tenant-schemas-celery==0.1.6 I get the schema set to public.

The task is super simple
[code]

Im just using it to call a method on my tenant user that will send an email. The tenant user cant be found because the schema is public

rele

[2017-04-19 19:19] maciej-gol commented on #12
@oplahcinski , thanks, will look into it.

19 kwi 2017 20:07 "oplahcinski" <notifications@github.com> napisał(a):

[2017-04-20 11:19] maciej-gol commented on #12
@oplahcinski , are you by any chance using `Redis` or other broker than `RMQ`?

[2017-04-20 12:10] faxioman commented on #12
@maciej-gol I'm using redis ... I'll try your fix.

[2017-04-27 14:13] maciej-gol commented on #12
@faxioman any luck with it?

[2017-04-28 18:57] alexjillard opened #14 "Task headers are None when using Task.retry()"
When using Task.retry( ) with the `fix_missing_headers` branch (Issue #12) the `headers` key in the kwargs is None.

This causes `self._add_current_schema(kw.setdefault('headers', {}))` in https://github.com/maciej-gol/tenant-schemas-celery/blob/fix_missing_headers/tenant_schemas_celery/task.py#L22 to return None rather than an empty dict.

https://github.com/maciej-gol/tenant-schemas-celery/blob/

[2017-04-28 21:10] maciej-gol commented on #14
Thanks a lot! I'll push the new version with these fixes tomorrow.

[2017-05-07 18:58] #14 closed

[2017-05-07 18:59] maciej-gol commented on #12
Should've been fixed in `0.1.17`

[2017-05-07 19:01] #12 closed

[2017-07-29 06:24] Rajesh-Yogeshwar opened #15 "How to set this up correctly?"
I intend to use `django_celery_beat` in that case how to configure system to use `DatabaseScheduler` provided by `django_celery_beat`.

After following the example found i tried to run an async task by `apply_async` method but the task could not complete as the task was looking for `Tenant` model in current(tenant) schema whereas it is a part of `public` schema.

I am under belief that if I use Da

[2017-07-31 20:49] maciej-gol commented on #15
Did you add your `Tenant` model to shared apps?

[2017-08-01 04:17] Rajesh-Yogeshwar commented on #15
Yes. I have been using this setup for past 6 months. Its working fine. I just had a need to add celery and got it stuck.

[2017-08-06 05:59] Rajesh-Yogeshwar commented on #15
@maciej-gol Any update or idea what might be the issue. I never mentioned but I am using celery v4.0.2

[2017-08-07 08:09] maciej-gol commented on #15
Sorry, will look into this perhaps this evening. Had a lot of stuff
happening lately.

2017-08-06 7:59 GMT+02:00 Rajesh-Yogeshwar <notifications@github.com>:

[2017-08-07 09:47] Rajesh-Yogeshwar commented on #15
Alright. Even I am still probing for the cause. In case if I find it I will update.

[2017-08-07 20:06] maciej-gol commented on #15
I couldn't reproduce your issue. Did you migrate the public schema with `python manage.py migrate_schemas --shared`?

[2017-08-08 17:34] Rajesh-Yogeshwar commented on #15
Yes I have been running this setup for past six months. Can you please help me understand, how will celery work if I use this module? I mean an example of asynchronous task, a scheduled task. I have been unable to find any material on this one. I have set it up exactly as you have put on README. But it does not work for me, sadly.

[2017-08-08 20:37] maciej-gol commented on #15
Basically, whenever a task is about to run the schema is changed to `public`, then a proper schema is taken from the task's metadata and current schema is changed to that. After the task has finished, the schema is reverted to the one before task was run - usually `public`. You can see it here: https://github.com/maciej-gol/tenant-schemas-celery/blob/b85014b5ad4eba44f846913c2d7154efaab71c17/tenant

[2017-08-09 02:23] Rajesh-Yogeshwar commented on #15
Although it still did not work for me. The output that you have shared, it only prints **public** as schema name. Shouldn't it print **test**?
Secondly, the issue I am facing is that whenever I use **apply_async** or **delay** the code where you switch schemas is giving problems because it is trying to lookup for my tenant model in tenant schema rather than public schema.

`SELECT "customer_custom

[2017-08-09 06:16] maciej-gol commented on #15
It prints `public` because the periodic tasks do not have a schema defined, thus it defaults to `public`. When calling the `print_schema` from within a tenant context a proper schema name is printed:

Creating a `Client`:
[code]

Output in the celery worker:
[code]

I've tested it on the newest `django-tenant-schemas==1.9.0`.

[2017-08-09 18:47] Rajesh-Yogeshwar commented on #15
I have set this up on docker, with redis as broker and yes I have just ran it on a fresh DB.  This is relevant part of  my settings file.
![screenshot from 2017-08-09 23-28-39](https://user-images.githubusercontent.com/7311146/29136341-9169eedc-7d5a-11e7-8c41-b3634b79a113.png)

Celery app is set up as per your instructions. In my view, I tried calling it every possible way, but to no avail.

[2017-08-11 10:53] maciej-gol commented on #15
Just one more thing - are you using the `django-tenant-schemas` package, or the `django-tenants` package?

[2017-08-12 06:18] Rajesh-Yogeshwar commented on #15
I am using `django-tenant-schemas`. Did you find something odd with my settings? In case these are the other necessary variables for you to look through.

[code]

[2017-08-13 04:54] Rajesh-Yogeshwar commented on #15
@maciej-gol Apologies if I am asking too much, can you please try to set it up with docker containers?

[2017-08-14 18:40] maciej-gol commented on #15
Do you have `SHARED_APPS` and `TENANT_APPS` settings set? It's described in the docs: https://django-tenant-schemas.readthedocs.io/en/latest/install.html#configure-tenant-and-shared-applications .

[2017-08-15 05:01] Rajesh-Yogeshwar commented on #15
Yes, here they are.
[code]

[2017-08-17 09:08] maciej-gol commented on #15
I'll try with the containers setup, but i'm pretty busy until the end of the week, unfortunately.

[2017-08-17 10:03] Rajesh-Yogeshwar commented on #15
Its perfectly alright.

[2017-08-23 12:35] Rajesh-Yogeshwar commented on #15
@maciej-gol any update?

[2017-08-23 17:58] maciej-gol commented on #15
Yes, sorry. Im unrusting my docker skills :D

23 sie 2017 14:35 "Rajesh-Yogeshwar" <notifications@github.com> napisał(a):

[2017-08-24 04:32] Rajesh-Yogeshwar commented on #15
:laughing: I will be patient then.

[2017-08-24 07:55] Rajesh-Yogeshwar commented on #15
My guess is that whenever I use `delay/apply_async` the tasks are queue in Redis which is another container. Now when the time comes to execute them, the connection to postgres container cannot be established and hence it erupts with relation could not be found. What do you think? Can it be a reason? Because synchronous execution works fine. If yes, then I think I might need to ask this question s

[2017-08-24 08:36] Rajesh-Yogeshwar commented on #15
Happy to say that my guess was right. Never been so happy. So the conclusion is right. For the whole delayed task to be executed it was necessary for my redis container to point to my postgres container. I did some experimentation and voila its working now.

A HUGE THANKS for being patient and putting in your efforts to help me out. Relieved.

[2017-08-24 08:36] #15 closed

[2017-08-24 08:49] maciej-gol commented on #15
So you are saying it was a faulty connection to postgres from redis/celery
worker? Perhaps a different user, thus it didn't have the relation set up?
If it couldn't connect at all, you would end up with a DatabaseError.

2017-08-24 10:36 GMT+02:00 Rajesh-Yogeshwar <notifications@github.com>:

[2017-08-24 08:56] Rajesh-Yogeshwar commented on #15
I would not say faulty. But I usually setup environment variables for my DB connections and other relevant services and make this variables available to all the services that need them. I was stupid enough not to make this environment variable available to my `redis` service(container). Probably, when the task was to be executed it must have been looking up for database parameters (connection stri

[2017-08-24 08:57] maciej-gol commented on #15
Great! Glad you've got this up and running! :D

2017-08-24 10:56 GMT+02:00 Rajesh-Yogeshwar <notifications@github.com>:

[2017-08-24 08:58] Rajesh-Yogeshwar commented on #15
Absolutely. In the meanwhile your library taught me quite a few things which I would not have learnt had I not faced this difficulty. Thanks buddy!

[2017-10-09 17:59] thelinuxer opened #17 "Logging to have schema_name"
Hi,
django-tenant-schemas application has a configuration to have the schema name in each log message. This allows us to know which request is handled for whom.

I can't seem to understand how the same can be achieved with celery logging using your application.

Can you please provide more insight on that ?

[2017-10-09 18:00] maciej-gol commented on #17
Could you point me to the settings name in `django-tenants-schemas`? I didn't keep up with the project recently.

[2017-10-09 18:11] thelinuxer commented on #17
I can't find the link right now, but here is LOGGING section in settings.py:

[code]

[2017-10-09 18:12] thelinuxer commented on #17
Found it, it was a more basic version of what I have right now.

http://django-tenant-schemas.readthedocs.io/en/latest/use.html#logging

[2017-10-09 18:31] maciej-gol commented on #17
How do you access the logger? It is important as the filters' usage depends on which logger is being used (logger's name).

[2017-10-09 19:18] thelinuxer commented on #17
In celery the normal way to access logging is the following as far as I know:
[code]

[2017-10-09 19:30] maciej-gol commented on #17
Have you then tried to attach the filter to the root logger, or the logger that is the root of your app package?

[2017-10-09 19:35] thelinuxer commented on #17
I will look it up since I am a bit inexperienced with python logging.

[2017-10-09 20:02] maciej-gol commented on #17
Basically, if your django app is placed under a common package you can attach the filter to that package's logger. For exampl,e all your django apps are within a `my_app` package: `myapp.main.views`, `myapp.crawler.models`, `myapp.slack_integration.models`, `myapp.accounts.tasks`, etc. In this case the logger that you can use would be `myapp`. This is how logging hierarchy works.

[2017-10-16 14:01] maciej-gol commented on #17
@thelinuxer did you manage to figure this out?

[2017-10-18 17:04] #17 closed

[2017-10-31 23:46] jlariza opened #18 "How to use celery beat with all tenants"
Good day,

I am setting up an application with django-tenants and tenants-schemas-celery

I have a question. I need to run a periodic task with celery beat on all the schemas.

Following the example, I have

[code]
but when I run it, i only see the public schema being print every ten seconds. What I am missing?
myapp is a tenant app (inside TENANT_APPS). I am using tenant-schemas-celery 0.1.7 and

[2017-11-01 08:56] maciej-gol commented on #18
If you want to run a scheduled task for all tenants, you need two tasks:
the scheduled one and the one with logic. The scheduled task would iterate
over all tenants and activate them and send the task with logic. The second
task should automatically have the schema set to the schema of the tenant
that was active when sending it.

1 lis 2017 00:46 "jlariza" <notifications@github.com> napisał(a):

[2017-11-01 22:42] jlariza commented on #18
Thank you.  @maciej-gol

I could make it work with the following code.

[code]

[2017-11-07 21:59] #18 closed

[2017-11-07 21:59] maciej-gol commented on #18
Closing since this has got resolved ;-)

[2018-02-26 09:15] rajeshyogeshwar opened #19 "Any thoughts on using DB backed scheduler with celery beat and tenant schemas?"
Hello, do you have any thoughts as to how one can proceed with having a DB backed scheduler? The point is I might stumble upon a requirement where I have to do this. Also, per tenant there is an added complexity of time zones as every tenant might have entities that follow different time zones and then the tasks are be as per that timezone.

[2018-02-26 09:18] maciej-gol commented on #19
Thanks for asking! I'll look into this in the evening CEST and will see how this can be solved painlessly :D

[2018-02-26 09:20] Rajesh-Yogeshwar commented on #19
I will be looking to help and contribute as well if the need be.

[2018-02-26 20:36] maciej-gol commented on #19
Have you checked [crontab](http://docs.celeryproject.org/en/latest/reference/celery.schedules.html#celery.schedules.crontab)? Let's say you have a periodic task `foo` that should be ran at 12pm for every client. You could do something along these lines:

[code]

Basically, what it does is that for each tenant it stores the last run time of the task in the database. Combined with tenant's timezone,

[2018-06-12 08:30] #19 closed

[2018-08-30 21:25] softinio opened #20 "Test fails when using kombu 4.2.1 and celery 4.2.1"
Just to verify this is compatible with latest version of Celery I cloned this repo, created a virtualenv running python `3.6.6` and ran your tests and got this error:

[code]
Any thoughts?

[2018-08-31 17:25] maciej-gol commented on #20
Thanks, will look into this.

[2018-08-31 19:27] maciej-gol commented on #20
This is an issue that arises from retrying tasks with eager celery. I will fix it soon, but it otherwise shouldn't affect your code. You could test it with async tasks and real queue.

[2018-09-10 22:37] softinio commented on #20
@maciej-gol let me know if I can help with getting this fixed. Happy to do a PR for you if you can give me some direction as I am not familiar with your code. Thanks

[2018-09-11 06:36] maciej-gol commented on #20
I am rewriting test to use real celery. The are nów discouraging usage of
eager celery in tests. Otherwise, the tests pass when run using real worker
.

wt., 11 wrz 2018, 00:37 użytkownik Salar Rahmanian <notifications@github.com>
napisał:

[2018-10-05 20:33] tomturner opened #21 "Won't work with Django-tenants"
see https://github.com/tomturner/django-tenants/issues/184

[2018-10-05 20:37] maciej-gol commented on #21
Have to add both libraries to travis matrix! Thanks! I need to fix the
tests setup first, since celery killed eager mode during tests :C

pt., 5 paź 2018 o 22:33 Tom Turner <notifications@github.com> napisał(a):

[2018-10-05 21:36] #20 closed

[2018-10-05 21:37] maciej-gol commented on #20
Fixed on trunk. The tests were passing previously. Just newest celery discouraged using eager mode for tests so I had to rewrite the whole test machinery.

[2018-10-05 22:52] maciej-gol commented on #21
Is it enough to remove `django-tenant-schemas` from the explicit dependencies?

[2018-10-05 22:55] tomturner commented on #21
I believe you should be able to remove that line

[2018-10-05 22:57] maciej-gol commented on #21
It's already been removed on `master`. I guess we can close this issue, then.

[2018-10-05 22:57] maciej-gol commented on #21
I will release a new version tomorrow.

[2018-10-06 16:04] maciej-gol commented on #21
Fixed in `0.2.0`.

[2018-10-06 16:04] #21 closed

[2018-10-10 21:40] softinio opened #24 "New Tests causing errors being logged when running in PROD"
[code]

[2018-10-10 21:41] softinio commented on #24
Seems you are not importing `app` here:

https://github.com/maciej-gol/tenant-schemas-celery/blob/master/tenant_schemas_celery/tasks.py

I know this is only used for tests but its causing above noise in our PROD logs so we had to revert so thought I bring to your attention.

Thanks so much for all help.

[2018-10-11 06:56] maciej-gol commented on #24
Thanks, Will look into that!

śr., 10 paź 2018, 23:41 użytkownik Salar Rahmanian <notifications@github.com>
napisał:

[2018-10-11 18:27] maciej-gol commented on #24
fixed in `0.2.1`

[2019-05-06 05:48] anoopjohn-inapp opened #26 "Django 2 with multi tenancy"
I've been using django-tenant-schemas with django 2.1.7, django-tenant-schemas==1.9.0.
 Will tenant-schemas-celery support as I've used celery==4.3.0

[2019-05-06 06:00] maciej-gol commented on #26
Afaik, the Travis Ci build for django 2.2.1, celery 4.3.0 and
django-tenant-schemas 1.9.0 works, so the library should work, too. Will
check today.

pon., 6 maj 2019, 07:48 użytkownik anoopjohn-inapp <notifications@github.com>
napisał:

[2019-05-06 06:06] anoopjohn-inapp commented on #26
Thanks  maciej-gol

[2019-05-07 12:01] maciej-gol commented on #26
The tests are passing on ```$ pip freeze
amqp==2.4.2
atomicwrites==1.2.1
attrs==18.2.0
billiard==3.6.0.0
celery==4.3.0
Click==7.0
Django==2.1.7
django-tenant-schemas==1.9.0
kombu==4.5.0
more-itertools==4.3.0
pip-tools==3.1.0
pluggy==0.7.1
psycopg2==2.8.2
py==1.6.0
pytest==3.8.2
pytest-django==3.4.3
pytz==2019.1
six==1.11.0
-e git+git@github.com:maciej-gol/tenant-schemas-celery.git@277ad98a756826d0

[2019-05-07 12:12] anoopjohn-inapp commented on #26
Thanks maciej-gol. Glad for your quick response.

[2019-05-12 14:22] #26 closed

[2019-05-12 14:22] maciej-gol commented on #26
Closing as there was so far no issue with django 2 reported.

[2019-09-26 21:51] mcroni opened #27 "Support for celery-beat"
using this package with django tenants which works without a problem ,wondering if it can work with django_celery_beat too

[2019-09-27 19:14] maciej-gol commented on #27
How would you want the integration to look like?

[2019-09-27 19:26] mcroni commented on #27
i didnt use django_celery_beat, i went with implementing celerybeat with the app.conf setup, thanks but the issue im currently facing is this
`ExecStart=/bin/sh -c '${CELERY_BIN} multi start ${CELERYD_NODES} \
  -A ${CELERY_APP} --pidfile=${CELERYD_PID_FILE} \
  --logfile=${CELERYD_LOG_FILE} --loglevel=${CELERYD_LOG_LEVEL} ${CELERYD_OPTS}'`
i have this in my sytemd daemon file but when i run a `.d

[2019-10-01 03:28] b1tst0rm commented on #27
Just wanted to chime in to say that I have the same issue, Celery Beat-initiated tasks are sent according to the logs but never executed by Celery when using this package.

[2019-10-01 19:30] maciej-gol commented on #27
@b1tst0rm could you please give an example of your task? AFAIK, this package should not fiddle with how tasks are sent to the queue other than adding one keyword argument.

[2019-10-04 07:33] b1tst0rm commented on #27
I think the issue lies in the fact that the default Celery Beat scheduler sits in the public schema issuing tasks. It is not aware that it needs to iterate through each available tenant schema, therefore the tasks never really get executed for the tenants.

I will look into this some more after work today when I have time.

An example of my task is below. It simply runs every night at 2am to clear

[2019-10-04 17:01] maciej-gol commented on #27
I'm afraid that such support is currently out of scope for this package, as I would like it to do one thing and do it well. As a workaround, I suggest creating a wrapper task that you hook into your celery beat that would then trigger all the other tasks with proper schema:

[code]

That way you can use any package that provides multi-tenancy via postgresql schemas and still benefit from setting t

[2019-10-05 03:10] b1tst0rm commented on #27
Hi - thanks for the support on this. I do believe what you provided is absolutely an acceptable solution and makes sense from a programmatic standpoint. I was able to get your code working with one minor tweak, which I want to provide below in case others run into the same issue.

[code]

Besides that, I agree that this shouldn't be integrated with your library and as such I think this issue can b

[2019-10-05 09:57] maciej-gol commented on #27
Will add the solution to readme for future reference .

[2019-10-06 19:03] maciej-gol commented on #27
I've just updated the README to cover celery beat integration with an example similar to the above. Thanks guys!

[2019-10-06 19:03] #27 closed

[2019-10-07 19:25] mcroni commented on #27
please upgrade the package on pypi

[2019-10-09 19:05] maciej-gol commented on #27
@mcroni there was no new code added, so no need to update pypi.

[2019-10-18 13:16] kapilrupavatiya opened #28 "switch_schemas() executes query everytime on tenant object"
switch_schemas() is called every time when task is executed. There is one query to get tenant object which is executed every time when we call this function. After getting that tenant object we are setting  tenant in to the connection.

`tenant = get_tenant_model().objects.get(schema_name=schema)`
`connection.set_tenant(tenant, include_public=True)`

We are generating around 500k tasks every day f

[2019-10-18 13:53] maciej-gol commented on #28
`connection.set_tenant(tenant, include_public=True)` sets the `connection.tenant` attribute, too. On the other hand, `set_schema` uses a `FakeTenant` object instead.

This could lead to very weird behavior that accessing `connection.tenant` doesn't give you an instance of your class.

I'm thinking about creating another task, or adding an optional argument `app.task(raw_schema_name=True)` that wou

[2019-10-19 12:00] kapilrupavatiya commented on #28
@maciej-gol Thanks for quick response. We really appreciate your valuable feedback.

I think we can add an optional argument `app.task(tenant_cache_seconds=0)` that will cache tenant object for specified amount of time(seconds). If there is no seconds passed then we didn't need to cache tenant object.

So In switch_schemas() if tenant_cache_seconds is passes then first need to check tenant_object

[2020-01-18 15:08] maciej-gol commented on #28
Fix on master

[2020-01-18 15:08] #28 closed

[2020-03-05 16:36] thismatters opened #30 "support for `send_task`"
Hello, and thank you for your work!

Our codebase generally prefers to use `celery_app.send_task("task_name")` instead of `task_name.delay()`, however it seems that `tenant-schemas-celery` only supports the latter. Is this intentional? Can the desired behavior be achieved using `send_task` directly?

[2020-03-05 17:15] maciej-gol commented on #30
Hey!

I've checked what `send_task` does and, in fact, `apply_async` is using `app.send_task` itself. It shouldn't be a lot of work to implement the change, as we can just move the `apply_async` logic down to `send_task` instead.

I just need to confirm `send_task` is the thing in recent Celery versions.

[2020-03-06 19:01] thismatters commented on #30
I've updated to using `delay`, it works just as well for what we are doing! The only reason we _actually_ use `send_task` is when we're sending a task to a different queue (possibly on a different redis instance), and that isn't needed when dealing with the `tenant_context` loops in my project.

[2020-03-06 19:26] maciej-gol commented on #30
So you no longer need the change?

pt., 6 mar 2020 o 20:01 Paul Stiverson <notifications@github.com>
napisał(a):

[2020-03-06 19:33] thismatters commented on #30
No, it is not needed.

[2020-03-06 19:43] maciej-gol commented on #30
Thanks! Closing, then.

[2020-03-06 19:43] #30 closed

[2020-03-09 20:44] thismatters commented on #30
I'm sorry to flip-flop like this, but I've encountered a case where `send_task` does make much more sense (so as to avoid circular import issues). Is it reasonable to ask that this be reopened?

[2020-03-11 18:11] maciej-gol commented on #30
No problem! Will look into this.

pon., 9 mar 2020 o 21:44 Paul Stiverson <notifications@github.com>
napisał(a):

[2020-03-11 22:04] thismatters commented on #30
Thank you!

[2020-03-12 20:25] maciej-gol commented on #30
Can you just please tell me which version of Python are you using?

śr., 11 mar 2020 o 23:04 Paul Stiverson <notifications@github.com>
napisał(a):

[2020-03-13 20:35] thismatters commented on #30
3.7.4

[2020-04-04 19:36] tylerecouture opened #31 "is this a shared or tenant app for django-tenant-schema?"
Hi! Thanks for this app.  I'm trying to integrate it into my project.

Do I put `tenant_schemas_celery` in SHARED_APPS or TENANT_APPS (using django-tenant-schema)

Thanks!

[2020-04-05 09:49] maciej-gol commented on #31
You shouldn't need to put `tenant_schemas_celery` in any of these, because this app is not using any models.

[2020-04-06 00:10] tylerecouture commented on #31
Thanks!

[2020-04-06 00:10] #31 closed

[2020-04-16 07:33] tylerecouture opened #32 "@shared_task?"
Does your app work with the @shared_task decorator as well?

[2020-04-16 12:57] maurorhaas opened #33 "Does this work on Google Cloud App Engine?"
Sorry, I'm a beginner. I have a project in Django with several tenants and I don't know how to run asynchronous tasks on App Engine.

[2020-04-16 23:44] #32 closed

[2020-04-16 23:56] tylerecouture opened #34 "passing _schema_name kwarg via beat PeriodicTask"
Is there a way to pass the _schema_name kwarg into a PeriodicTask who's task is a TenantTask?

For example:

[code]

How can insert I the `_schmea_name` kwarg that TenantTask will be looking for into a PeriodicTask from [django-celery-beat](https://pypi.org/project/django-celery-beat/)?

If I try something like this:

[code]

I get the error:
`my_task() got an unexpected keyword argument '_schema_

[2020-04-18 07:29] maciej-gol commented on #34
Interesting! Will have a look into it, although I don't think it should
break like that.

pt., 17 kwi 2020, 01:56 użytkownik tylerecouture <notifications@github.com>
napisał:

[2020-04-18 23:01] tylerecouture commented on #34
Fiddle with this some more, I was putting it in the wrong spot!

Tried this and it worked! Very cool.  Any tips on how to create a mixin to inject this into all the celery-beat models?

[code]

[2020-04-27 20:40] maciej-gol commented on #34
What is your celery version? The error `my_task() got an unexpected keyword argument '_schema_name'` looks like the schema name was passed via an argument which is a `Celery<4` behavior.

[2020-04-27 20:41] maciej-gol commented on #33
You need to look into the documentation of [Celery](http://www.celeryproject.org/).

[2020-04-27 22:16] tylerecouture commented on #34
`celery==4.4.2`

[2020-04-28 21:27] thenewguy opened #36 "Test against python 3.7, 3.8"
Looks like python newer than 3.6 is missing from tests on travis

[2020-04-29 13:06] maciej-gol commented on #36
Hey!

Yes, at the time I was updating the CI config (~January), py3.7 and py3.8
were missing from Travis CI trusty config. And I couldn't migrate to
xenial, because of rabbitmq service issues :-(

wt., 28 kwi 2020 o 23:27 thenewguy <notifications@github.com> napisał(a):

[2020-04-29 13:30] thenewguy commented on #36
No worries. Just found the project and it looks awesome 👍 I would have submitted a pr for the minor change but am not familiar with Travis config

[2020-04-29 13:38] tomturner commented on #36
@maciej-gol You might find it better to swap to the Github workflows instead of Travis CI. I have done this for django-tenants

[2020-05-01 12:30] #33 closed

[2020-05-01 12:31] maciej-gol commented on #34
Do you want to run specific tasks for specific schemas, or for all of the schemas?

[2020-05-01 15:12] maciej-gol commented on #36
Changed test running to use docker so that I can finally run them like a man, not like animal. As a side effect, the matrix includes python 3.6-3.8 (like an animal).

@tomturner thanks for the tip! Haven't looked into workflows yet, but I'm looking into automated publishing. I'm doing it so rarely I always forget how to do it before next release.

[2020-05-01 15:12] #36 closed

[2020-05-01 16:05] tylerecouture commented on #34
I am using it to run tasks on specific schemas (which I got working, not sure if you saw that)

[2020-05-01 16:47] maciej-gol commented on #34
Yes, it looks like the only reasonable way, sorry.

pt., 1 maj 2020, 18:05 użytkownik tylerecouture <notifications@github.com>
napisał:

[2020-05-04 09:31] awaazde commented on #28
@maciej-gol Thanks so much for this fix!

After studying the implementation, it seems that the hook for enabling the cache (setting `tenant_cache_seconds` in the task decorator) is not working.

It doesn't look like this param is taken into the task init and actually overrides the default value of `tenant_cache_seconds=0`.

The test case works by subclassing the TenantTask class, which would work,

[2020-05-04 09:34] awaazde commented on #28
Also, ideally we wouldn't have to enable caching on a task by task basis but instead could set it as a global param.

Caching of the tenant object seems to be more of an all or nothing benefit. Some tasks caching and others seems to defeat the purpose.

So can we make this a global setting that can apply to all tasks?

[2020-05-04 09:49] awaazde commented on #28
NM looks like the decorator params are getting picked up deeper in celery lib. Disregard this comment

[2020-05-04 11:50] maciej-gol commented on #28
Thanks! Will look into enabling it globally. Most likely via reusing how
celery is getting its configuration. That way I don't need to Come up with
yet another way of configuring things.

pon., 4 maj 2020, 11:50 użytkownik Awaaz.De <notifications@github.com>
napisał:

[2020-05-04 14:16] awaazde commented on #28
@maciej-gol check my PR: https://github.com/maciej-gol/tenant-schemas-celery/pull/38

[2020-06-30 16:21] thenewguy opened #43 "task subclass not respecting tenants"
Should tasks using class based definitions work here?  My tasks using the [Jobtastic baseclass](https://github.com/PolicyStat/jobtastic/blob/master/jobtastic/task.py#L36) do not respect the tenants and always run against the public schema.

I don't see anything related that would cause this, so I am curious if this is expected to work or is a new feature?

[2020-06-30 16:34] maciej-gol commented on #43
Will look into this, but AFAIK it should work out of the box as long as the
subclass calls super() properly.

Thanks!

wt., 30 cze 2020, 18:21 użytkownik thenewguy <notifications@github.com>
napisał:

[2020-06-30 16:36] #34 closed

[2020-06-30 16:37] maciej-gol commented on #43
@thenewguy could you please show me an example how you integrate both this app and the jobtastic task?

[2020-06-30 16:42] thenewguy commented on #43
@maciej-gol working on a test case now

[2020-06-30 17:02] thenewguy commented on #43
I am looking through your test cases to see how you run the workers, but here is my test that fails running against celery's start_worker:

tasks:
[code]

tests:
[code]

Note that `test_tenant_context_for_celery_shared_tasks()` passes and `test_tenant_context_for_jobtastic_tasks()` fails with:
[code]

[2020-06-30 17:53] maciej-gol commented on #43
So the problem is that given:

[code]

you don't actually call the tenant-specific implementation at all. In order to fix that, you need to add `TenantTask` as the parent class:

[code]

Unfortunately, currently this app doesn't provide a proper mixin that implements the tenancy logic. Thankfully, Python correctly resolves diamond inheritance here.

[2020-06-30 17:55] thenewguy commented on #43
@maciej-gol is there any way to make this happen transparently so that 3rd party app tasks can be used?

[2020-06-30 17:59] maciej-gol commented on #43
Are you using the `CeleryApp` provided by this app as your default app?

[2020-06-30 18:00] thenewguy commented on #43
Yes, per docs.

[code]

[2020-06-30 18:01] maciej-gol commented on #43
:+1: I think I can work something out. But then, I'm afraid you will need to continue with the subclassing.

[2020-06-30 18:02] thenewguy commented on #43
@maciej-gol What do you mean?  Can we make the test work in my PR as written?  Happy to do the work if you can give me some direction

[2020-06-30 18:08] maciej-gol commented on #43
So I think it's possible to make this work automatically, by implementing our own `celery.app.registry:TaskRegistry` subclass and passing it's import path as `registry_cls` attribute of the `CeleryApp`.

The new registry, when it's `register()` is called, should check if the argument is a type and a subclass of our TenantMixin. If it's a type but not a subclass, we should dynamically create a new

[2020-06-30 18:10] thenewguy commented on #43
@maciej-gol great! Let's see how I fare

[2020-06-30 22:34] thenewguy commented on #43
Tasks that use the legacy `from celery.task import Task as LegacyTask` base class and also tasks that use the task decorator without inheritance are passing.

However, I am struggling with new style tasks:

[code]

It seems like the [recommended way to write tests now per docs](https://docs.celeryproject.org/en/stable/userguide/tasks.html#task-inheritance) so I feel like it is important to support

[2020-06-30 22:39] thenewguy commented on #43
They seem to be passed as functions.  You said you didn't want to touch those hence the quandary.  Otherwise, I think we could wrap the task passed to registration if it isn't an instance of TenantTask and proxy the calls we need?

[2020-07-08 19:26] thenewguy commented on #43
@maciej-gol So, PR #45 seems to be working and logs indicate my tasks are running in the correct schema context now.  However, I am still getting some odd behavior on tenants where the tasks seem to lose the tenant during computation.

For example, a long running task starts by retrieving the record from the database on the tenant schema.  Then it operates for some time.  Finally it attempts to sa

[2020-07-08 20:57] maciej-gol commented on #43
Can you print the schema name when the exception occurs? Also, what kind of
concurrency model you use in celery? multiprocessing/threads/gevent?

śr., 8 lip 2020 o 21:26 thenewguy <notifications@github.com> napisał(a):

[2020-07-08 21:24] thenewguy commented on #43
@maciej-gol Yes, the schema name is included in the log.  For example:

[code]

where `tenant_3094fa0d2854419c9e58a2b1b126c922` is the tenant schema (it would be "public" if it was the public schema) and `959bd153-bf52-4ca0-8a55-3897b6bce907` is the task id.

The media record `2090833968` it complains about was fetched at the start of the task a long time before the error is raised at commit.  And

[2020-07-15 19:40] #43 closed

[2020-07-15 19:43] maciej-gol commented on #43
@thenewguy I think the issue is unrelated to the change to task registration. Could be caused by the media object being long gone during the execution of the task it self.

Regarding the PR, very good fix, thanks a lot!

[2020-12-18 02:36] domdinicola opened #46 "Issues with sentry's headers"
Hi there!

I'm having issues with tenant-schemas-celery and sentry!

Troubleshooting in app.py / get_schema_name_from_task.
When getting the task_headers https://github.com/maciej-gol/tenant-schemas-celery/blob/master/tenant_schemas_celery/app.py#L21
it gets me task.request.headers --> {'sentry-trace': 'trace-code'}
instead of task.request where schema information are located!
how do you suggest t

[2021-01-04 22:39] maciej-gol commented on #46
Should've been fixed in `1.0.1`

[2021-01-04 22:39] #46 closed

[2021-04-24 19:48] sabarinathjv commented on #34
i need celery to look on private schema instead of public schema kindly help

[2021-04-24 20:17] maciej-gol commented on #34
What do you mean by a private schema? This tool will regard less of the
schema name. Its up to you to configure the name.

sob., 24 kwi 2021, 21:48 użytkownik sabarinathjv ***@***.***>
napisał:

[2021-08-09 21:36] DigiBrainLLC opened #50 "tenant-schemas-celery with beat"
Hi.

I have a multi-tenant app which needs dynamic periodic scheduling (e.g. a user should be able to create a scheduled test to be sent out periodically... weekly/monthly/etc..) and am having trouble finding the correct solution to the problem so I thought I would ask here.

I already have `tenant-schemas-celery` running in my app and have tried to add `django-tenants-celery-beat`. The problem I

[2021-08-09 22:06] #50 closed

[2021-08-10 11:19] maciej-gol commented on #50
Have you solved your issue? Would be great to share, if possible, how so
that future issues can be solved easier :)

wt., 10 sie 2021 o 00:07 DigiBrain LLC ***@***.***>
napisał(a):

[2022-01-31 14:24] NyanKiyoshi opened #52 "Feature request: supporting multiple databases in Celery tasks"
This package only set the schema of the default django database, having the support for setting the schema to all databases would be useful for applications spreading the load.

For example having the below-attached settings, the package might want to switch the schema for both connections:
[code]

[2022-02-04 09:50] maciej-gol commented on #52
Fixed in version `2.0.0`. Thanks for your contribution!

[2022-02-04 09:50] #52 closed

[2022-05-03 17:11] fproldan opened #54 "How to know the tenant of each active or scheduled task"
Hi, I wanted to know if there is any way to get or add the `schema_name` in the tasks when using inspect with active or scheduled tasks.

That is, when doing `app.control.inspect().active()` or `app.control.inspect().scheduled()` to be able to know the `schema_name` of each task.

Right now I get for example:

[code]

I need to know which tenant it belongs to

Thanks!

[2022-05-03 19:29] maciej-gol commented on #54
Heya!

Since Celery 4.0, this package using the task's headers to transfer the name of the schema to use (the `headers` argument to `.apply_async()`). I'm afraid celery doesn't currently allow you dumping what the headers are :(

You would need to subclass the default Celery Worker class to extend it's functionality and add the headers to the output.

Any reason you want to know the schema name? M

[2022-05-05 15:52] fproldan commented on #54
Hello, thank you for your reply!

Due to business logic, I need to know to which tenant belongs the tasks that are running or scheduled in the worker.
I close the issue as it seems it is not a problem with this app.

Thank you!

[2022-05-05 15:52] #54 closed

[2022-06-27 10:44] iamunadike opened #55 "Celery beat not working as expected"
I used the approach in the text to set up celery beat for periodic tasks and added the
CELERY_BEAT_SCHEDULE = {} config to my settings.py but it does not work
However when I switch to normal celery it works

[2022-06-27 11:07] maciej-gol commented on #55
What do you mean it doesn't work? The tasks don't get sent by the beat
scheduled? What is your django/celery version?

pon., 27 cze 2022, 12:44 użytkownik Michael You ***@***.***>
napisał:

[2022-06-27 11:25] iamunadike commented on #55
django 4.0.2
Celery 5.2.7

Without Beats:
- both works
- tenant-celery-schema works because I am using django-tenants and this works because it helps the project to be tenant aware
- celery partially works because it can do tenant aware tasks
-
With Background beats or periodic tasks:
- same action with celery but not with tenant aware models because it raises flag of undefined relations since it

[2022-06-27 11:53] iamunadike commented on #55
Please am I missing something
@maciej-gol

[2022-06-27 12:12] iamunadike commented on #55
@app.task
def reset_remaining_jobs_in_all_schemas():
    for tenant in get_tenant_model().objects.exclude(schema_name='public'):
        with tenant_context(tenant):
            logger.info("welcome to the multiverse")

the test example does not WORRKKKKKK

[2022-06-27 13:41] #55 closed

[2022-08-02 18:46] iamunadike opened #57 "Celery does not match models in run pytest"
I get this message from tenant_schemas_celery
**] Signal handler <function switch_schema at 0x7effb0c4e710> raised: DoesNotExist('Client matching query does not exist.')
Traceback (most recent call last):
  File "/home/hacker/.local/lib/python3.10/site-packages/celery/utils/dispatch/signal.py", line 276, in send**

when running pytests because the aspect of a code is expected to run a background j

[2022-08-02 19:16] maciej-gol commented on #57
Have you tried using always eager celery during your tests?

wt., 2 sie 2022, 20:46 użytkownik Michael You ***@***.***>
napisał:

[2022-08-02 19:18] iamunadike commented on #57
the thing here is celery works but I dont know if in the test it is schema sensitive because I am running tests based on schema
so when a A model is saved it creates a background job to make a B model update ccertain fields
so I have to get the model B in the task but passing the id simply shows that Object does not exist

[2022-08-03 14:20] maciej-gol commented on #57
Its because your tests are running in a database transaction. In order for your tasks to see the results of your tests, you need to commit it or enable always eager celery

[2022-08-04 20:16] iamunadike commented on #57
the task
"""
[code]

the test
**```
@pytest.mark.django_db
@override_settings(CELERY_TASK_ALWAYS_EAGER=True,CELERY_TASK_EAGER_PROPOGATES=True)
def test_stock_creation_of_reduces_goods_by_sline_quantity(api_client, stock_payload_for_goods, nums):
    """ tests stock using a stock payload assuming only goods"""
    res = api_client.post(reverse_lazy("order_api:stocks-list"), stock_payload_for_goods,

[2022-09-01 03:06] gustavodbs opened #58 "Got an unexpected keyword argument '_schema_name'"
I am trying to get my project to work but it is throwing me the next error

[code]

These are my dependencies
[code]

And this my celery.py file
[code]

Am I missing something in the setup process?

[2022-09-01 06:59] maciej-gol commented on #58
Thanks for reporting! Will have a look in the evening. Could be a
regression with newer celery.

czw., 1 wrz 2022, 05:07 użytkownik gustavodbs ***@***.***>
napisał:

[2022-09-01 10:55] gustavodbs commented on #58
Thanks!

I was doing tests and something strange happens

If I use the package as normal, the same error still there:

**settings.py**
[code]

**celery.py**
[code]

But if I copy the package code and use it as my own app, it works
**settings.py**
[code]

**celery.py**
[code]

This is my full settings file related to tenants and celery
[code]

[2022-09-06 19:02] maciej-gol commented on #58
Your requirements.txt includes an out-of-date version:
```tenant_schemas_celery==0.1.4```

Try bumping to `2.0.0`.

[2022-09-06 19:03] #57 closed

[2022-09-07 13:55] gustavodbs commented on #58
Oh my, I don't know why I put that old version
Thank you very much for you help! The problem only was for using an outdated version

[2022-09-07 13:55] #58 closed

[2022-10-08 20:44] msozkan90 opened #59 "I cannot access db datas of any schemas except public from schedule task"
I have function that wanted to make schedule task. I have 3 different schemas and i want to use this function for all tenant but i can only acces public schema database datas.
How can i use this function for other tenants ??? or how can i query other tenants database ???
If i do not query from database just using normal function, everything is working fine.
DB=>postgres

####Function#####
 ###   f

[2022-10-09 15:53] maciej-gol commented on #59
Heya, thanks for raising this!

Do you have a chance to see https://github.com/maciej-gol/tenant-schemas-celery#celery-beat-integration ? It should explain how to run periodic tasks (celery beat) pretty well.

[2022-10-11 09:12] maciej-gol commented on #57
Its because your tests are running in a database transaction. In order for
your tasks to see the results of your tests, you need to commit it or
enable always eager celery

wt., 2 sie 2022, 21:19 użytkownik Michael You ***@***.***>
napisał:

[2022-10-11 19:55] #59 closed

[2022-11-17 15:11] ZipBrandon opened #60 "Tests do not succeed due to outdated dependencies"
Hello there. Great project that fills a need! I'm trying to add new functionality on a fork I have and I noticed your tests are failing due to outdated dependencies.

[2022-11-17 15:16] maciej-gol commented on #60
Hey!

Extremely sorry for this! Will look into this soon!

Best

czw., 17 lis 2022 o 16:11 Brandon ***@***.***> napisał(a):

[2022-11-18 08:59] maciej-gol commented on #60
Dependencies updated! Turned out the regression is with kombu not being up-to-date with the most recent changes to `importlib-metadata`.

The package has been pinned to `<5` until kombu releases their fixes upstream.

[2022-11-18 08:59] #60 closed